@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,500;1,300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

:root {
    --button-standard: darkblue;
    --button-hover: orchid;
    --button-shadow: palevioletred;
}

header {
    margin-bottom: 5rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin: 25px 50px;
}

#leaderboard-btn {
    text-decoration: none;
    color: orchid;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    width: 100%;
}

h1.question-text.question {
    text-align: left;
}

main p {
    font-size: 1.25rem;
    margin: 3rem;
    font-weight: 300;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: center;
    width: 60vw;
}

.text-container.left {
    width: 100%;
    text-align: left;
}

button {
    text-align: left;
    background-color: var(--button-standard);
    border: none;
    border-radius: 0.75rem;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    margin-bottom: 20px;
}

button:hover {
    background-color: var(--button-hover);
    box-shadow: 1px 1px 5px var(--button-shadow);
    cursor: pointer;
    transition: transform 500ms;
    transform: scale(1.1);
}

#answer-buttons.btn {
    display: flex;
    flex-direction: column;
}

#start-btn {
    display: flex;
    margin: auto;
}

.hidden {
    display: none !important;
}

h2 {
    color: gray;
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    text-align: left;
    margin-top: 10px;
    padding-top: 20px;
    border-top: solid 3px gray;
}

form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 0;
}

button.submit-score {
    margin: 0 20px;
    height: 2.5rem;
    padding: 0 20px;
}

input[type=text]{
    font-size: 1.5rem;
    margin-left: 20px;
    padding: 1rem 1.5rem;
    height: 2rem;
    width: 8rem;
} 
